/* 
things you might want to pay more attention to:
  z-index: 99; Not good idea!!
  Alway have index.html on the root directory
  More DRY css files
  If you are using Mac you need .gitignore for .DB_Store
  SORT files and directories
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS selectors */

/* Element selector */

html {
    background-color: darkgrey;
}

/* #ID selector */
#cool {
color: blanchedalmond;

}

/* .class selector */

.box {
    height: 10rem;
    width: 10rem;
    background-color: darkorange;
}

/* element,element Selector
    element AND element 
    */
p,
span{
    background-color: rgb(146, 146, 146);
}


/* element element Selector
    aka element inside element 
    */
    header li {
        font-size: 3rem;
    }

/* element>element	 Selector  
    element parent element 
    */
div > p {
    background-color: aqua;
} 
/* element+element  Selector
    element immediately after element */
    div+p{
        background-color: blue; 
    }

/* element1~element2 Selector 
    element preceded element */
    p~span{
        color: aliceblue;
        background-color: blueviolet;
    }

/* [attribute] Selector */

[id] {
    font-size: 3rem;

}

/* [attribute=value] Selector  */

[type="submit"] {

}

/* [attribute~=value] Selector
    containing the value */
    

/* [attribute^=value] Selector
    begins with the value */

/* [attribute$=value] Selector
    value ends with  */

/* [attribute*=value] Selector
    contains the substring */

/* pseudo class  */
/* specifies a special state for that element */
/* :hover */

/* :visited */

/* :focus */

/* :active */

/* :checked */

/* :nth-child() */
