:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lora:ital@1&display=swap');


body {
background-color: #0C3600 ;
margin: 0px;
font-family: 'Lora', serif; 


}

h1, h2, h3 {
color: #30DB00;
font-size: 5rem;
letter-spacing: 1rem;
text-indent: 10rem;

}
/* traffic light start */
#frame {
  width: 7rem;
  height: 20rem;
  align-items: middle;
  background-color: black;
  padding: 1rem;
  
  }

section div {
width: 3rem;
height: 3rem;
border: rgb(92, 92, 92) 3px solid;
border-radius: 3rem;
padding: 1rem;
margin: 1rem;
text-align: center;
color: rgb(0, 0, 0);
}

#red:hover {
  background-color: red;
}

#yellow:hover {
background-color:  yellow;

}

#green:hover {
  background-color: rgb(93, 155, 0);
}
/* traffic light end */

#ancor {
  display: inline-flex;
}

header nav ul li, a{
  display: inline-flex;
  text-decoration: none;
  color: #35F500;
  text-decoration: none;
  background-color: #197500 ;
  border: #35F500 1px solid;
  margin: 0px;
 
}
a{
  padding: 1rem;
}

a:hover {
  background-color: #35F500;
  color: #0C3600;
  border: #0C3600 solid 2px;
}

/* About main  */

main img
 {
   width: 350px;
   height: 350px;
   border-top: #35F500 150px  solid ;
   
 }

#rect{
  width: 5rem;
  height: 9rem;
  background-color: rgb(72, 72, 248);
  border: solid 4px black;
 
 }

#tri{
  width:  0rem;
  height: 0rem;
  border-bottom: 5rem solid rgb(111, 0, 238);
  border-right: 7rem solid transparent;
  position: relative;
  top: 10px;
  left: 4px;

}

  #tri-out {
  width:  0rem;
  height: 0rem;
  border-bottom: 6rem solid rgb(0, 0, 0);
  border-right: 8rem solid transparent;
  margin: 3rem;
  
  }

#sq{
  width: 5rem;
  height: 5rem;
  background-color: rgb(0, 165, 36);
  border: solid 4px black;
  margin: 3rem;
}
#cir{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgb(255, 129, 45);
  border: solid 4px black;
  margin: 3rem;

}

#container{

  align-content: flex-start;
  border: #35F500 solid 3px;
  border-radius: 5% 5%;
}
div video {
  border: #35F500 3px solid;
  border-radius: 50%;
  margin: 2rem auto;
  display: block;
}

.box .some{
  width: 20rem;
  height: 10rem;
  background-color: aquamarine;
  margin: 10rem auto;
  border: #197500 dashed 1rem;
  border-radius: 20rem;
}