@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lora:ital@1&display=swap');

body {
background-color: #0C3600 ;
margin: 0px;
font-family: 'Lora', serif; 

}

h1, h2, h3 {
color: #30DB00;
font-size: 5rem;

}
/* traffic light start */
#frame {
  width: 7rem;
  height: 20rem;
  align-items: middle;
  background-color: black;
  padding: 1rem;
  
  }

section div {
width: 3rem;
height: 3rem;
border: rgb(92, 92, 92) 3px solid;
border-radius: 3rem;
padding: 1rem;
margin: 1rem;
text-align: center;
color: rgb(0, 0, 0);
}

#red {
  background-color: red;
}

#yellow {
background-color:  yellow;

}

#green {
  background-color: rgb(93, 155, 0);
}
/* traffic light end */

#ancor {
  display: inline-flex;
}

header nav ul li, a{
  display: inline-flex;
  text-decoration: none;
  color: #35F500;
  text-decoration: none;
  background-color: #197500 ;
  border: #35F500 1px solid;
  margin: 0px;
 
}
a{
  padding: 1rem;
}

a:hover {
  background-color: #35F500;
  color: #0C3600;
  border: #0C3600 solid 2px;
}

