table{
   border-spacing: 0px;
   border: solid black 2px;}
td{
  height: 64px;
  width: 64px;}
  tr:nth-child(2n-1) td:nth-child(2n), tr:nth-child(2n) td:nth-child(2n-1) {
    background: rgb(0, 0, 0);}