body{
  background-color: rgb(0, 0, 0);
}

body p {
text-align: center;
color: aquamarine;
}

div {
background-color: aquamarine;
}

div p{
color: black;
font-size: 108px;
}

nav {
 
  background-color: aquamarine;
  position:static;
}

nav ul li{
display: inline-flex;
margin: 4em;
padding: 2em;
}
nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a:hover{
  background-color: black;
  color: aquamarine;
  text-decoration: none;
  transition: 1.5s;
  }

.container {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

div ol {
background-color: aquamarine;
  }